<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> {% block title %}{% endblock title %} | War Room</title>

    <link rel="stylesheet" href="/public/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/public/vendor/bootstrap-icons/bootstrap-icons.min.css">
    <link rel="stylesheet" href="/public/css/style.css">
    {% block style %}
    {% endblock style %}
</head>

<body>
    {% include 'header.html' %}

    {% block body %}
    {% endblock body %}

    <script src="/public/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    {% block script %}
    {% endblock script %}
</body>

</html>